name: Release
on:
  workflow_dispatch:
    inputs:
      platform:
        type: choice
        description: Platform
        options:
          - all
          - fabric
          - neoforge

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: mcr.microsoft.com/openjdk/jdk:17-ubuntu
      options: --user root
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: "**/.gradle/loom-cache"
          key: "${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}"
          restore-keys: "${{ runner.os }}-gradle-"
      - run: chmod +x ./gradlew
      - run: ./gradlew publishTramways
        env:
          CURSEFORGE_TOKEN: ${{ secrets.CURSEFORGE_TOKEN }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          PLATFORM: ${{ inputs.platform }}
